/* imported fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Header Section  */
.header{
    display: flex;
    align-items: center;
}
.header-info{
    margin: 0px 97px 0px 180px;
}
.header-headline {
    font-size: 75px;
    margin-bottom: 30px;
}
.header-paragraph{
    margin: 0px 60px 30px 0px;
    color: #27272799;
    font-size: 16px;
}
.button-style {
    color: white;
    background-color: #E55473;
    padding: 20px 43px;
    align-items: flex-start;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}
.header-banner{
    margin-right: 110px;
}


/* Second Section  */
.second-section{
    margin: 120px 600px 0px;
    text-align: center;
}
.section-heading{
    font-size: 35px;
    margin: 0px 0px;
}
.section-paragraph{
    font-size: 18px;
    color: #27272799;
}


/* Third Section  */
.third-section{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 120px;
}
.parent-flower{
    text-align: center;
}


/* Help Section  */
.help-section{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.parent-logo{
    text-align: center;
}


/* Hot Deal Section */
.hot-deal-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 300px;
    text-align: center;
}
.hot-section-info{
    margin: 0px 170px;
}


/* Instagram Section  */
.instagram-section{
    margin: 120px 600px 0px;
    text-align: center;
}


/* Flowers Section  */
.flowers-section{
    display: flex;
    gap: 30px;
    margin: 50px 200px;
}



.coupon-section{
    background-image: url(./Flowers/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 120px 220px;
    text-align: center;
    padding: 150px 0px;
}

.subscribe-button{
    height: 55px;
    width: 140px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    padding: 15px 20px;
}
.banner-info{
    margin-bottom: 50px;
}
#email-input{
    height: 23px;
    width: 700px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    padding: 15px 20px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 120px 300px;
}
.footer-paragraph{
    color:rgba(255, 255, 255, 0.90);
    margin: 30px 320px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}