/* imported fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Header Section  */
.header{
    display: flex;
    align-items: center;
}
.header-info{
    margin: 0px 97px 0px 180px;
}
.header-headline {
    font-size: 75px;
    margin-bottom: 30px;
}
.header-paragraph{
    margin: 0px 60px 30px 0px;
    color: #27272799;
    font-size: 16px;
}
.button-style {
    color: white;
    background-color: #E55473;
    padding: 20px 43px;
    align-items: flex-start;
    border: none;
    border-radius: 8px;
}
.button-style{
    font-size: 20px;
}
.header-banner{
    margin-right: 110px;
}


/* Second Section  */
.second-section{
    margin: 120px 600px 0px;
    text-align: center;
}
.second-section-heading{
    font-size: 35px;
    margin: 0px 0px;
}
.second-section-paragraph{
    font-size: 18px;
}


/* Third Section  */
.third-section{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 120px;
}
.parent-flower{
    text-align: center;
}


/* Help Section  */
.help-section{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.parent-logo{
    text-align: center;
}

